- var status = "vip"

  

div
    span Nama anda adalah #{nama}

div    
    case status
        when "vip"
            p Hello Vip user
        when "non-vip"
            p Hello non Vip user    
        default 
            p Hello unindentified status user        


